asttokens
asyncio
attrs
beautifulsoup4
bidict
build
certifi
cffi
charset-normalizer
colorama
comm
curl_cffi
debugpy
decorator
executing
frozendict
h11
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
matplotlib-inline
multitasking
neo-api-client @ git+https://github.com/Kotak-Neo/Kotak-neo-api-v2.git@1533903cb5db1a50892223b404d753dbc8fba50e
nest-asyncio
numpy
outcome
packaging
pandas
parso
peewee
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
pure_eval
pycparser
Pygments
pyjsparser
PyJWT
pyotp
pyproject_hooks
PySocks
pytest
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
selenium
six
sniffio
sortedcontainers
soupsieve
stack-data
tornado
traitlets
trio
trio-websocket
typing_extensions
tzdata
upstox-python-sdk
urllib3
uuid
wcwidth
websocket-client
websockets
wsproto
yfinance
pandas_ta
matplotlib
